.buttonTag {
    background-color: var(--buttonColor);
    border: none;
    height: var(--height);
    width: var(--width);
    
    color: var(--colorFontV1);
    font-size: var(--fontSize);
    font-family: var(--font);
    padding: 0 15px;
    border-radius: 42px;
    cursor: pointer;
    transition: 200ms;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.buttonTag:hover {
    filter: opacity(0.7);
}
.buttonTag:active {
    filter: opacity(1);
}