.buttonTag {
    background-color: var(--buttonColor);
    border: var(--border);
    height: var(--height);
    width: var(--width);
    
    color: var(--colorFontV1);
    font-size: var(--fontSize);
    font-family: var(--font);
    padding: 0 15px;
    border-radius: 42px;
    cursor: pointer;
    transition: 200ms;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: flex;
    align-items: center;
    gap: 10px;
}
.buttonTag img {
    width: 22px;
    height: 22px;
}
.buttonTag:hover {
    filter: opacity(0.7);
}
.buttonTag:active {
    filter: opacity(1);
}