/* Pages Styles Import */
@import url(pages/imports.css);

/* Components Styles import*/
@import url(components/imports.css);

/* Global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: PoppinsRegular;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--colorBackground);
  min-height: 100vh;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  width: 1500px;
  margin: auto;
}

/* fonts */

@font-face {
  font-family: PoppinsBold;
  src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: PoppinsExtraBold;
  src: url(../fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: PoppinsRegular;
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: PoppinsLight;
  src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: PoppinsSemiBold;
  src: url(../fonts/Poppins-SemiBold.ttf);
}


/* Animations */
@keyframes backgroundAnimation {
  0% {
      background-color: var(--colorMainV4);
  }
  50% {
      background-color: var(--colorMainV5);
  }
  100% {
      background-color: var(--colorMainV4);
  }
};
