{% extends "../components/gTemplates/base_editor.html" %}
{%load static%}


{%block main%}
<main class="newPost">
    <div id="container_editor">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {{form.as_p}}
            
            {% include "../components/molecules/modalPostOptions.html" with tags=tags alltags=tags %}
            <a class="button-send" onclick="handleModal('modalPostOptions', 'open', true)">Enviar</a>
        </form>
        <a href="{% url "home" %}" class="button-home">
            <img src="{%static "media\icons\IconHomeEditor.svg" %}" alt="icone da página principal">
        </a>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            CKEDITOR.on('instanceReady', function (event) {
                var editor = event.editor;
                var editable = editor.editable();
                editable.$.style.padding = '18px';
                editable.$.style.fontSize = '20px';
            });
        });
    </script>

{% endblock %}