{% extends "../components/gTemplates/base_editor.html" %}
{%load static%}


{%block main%}
    {% include "../components/molecules/modalPostOptions.html" with tags=tags alltags=tags %}
    <main class="newPost">
        <div id="container_editor">
            <form method="post">
                {% csrf_token %}
                {{form.media}}
                {{form.as_p}}
        
                <button class="button-send" type="submit">Enviar</button>
            </form>
            <a href="{% url "home" %}" class="button-home">
                <img src="{%static "media\icons\IconHomeEditor.svg" %}" alt="icone da página principal">
            </a>

            <button class="newPost_config" onclick="handleModal('modalPostOptions', 'open', true)">
                <img src="{% static 'media/icons/IconNewPostConfig.svg' %}" />
            </button>

        </div>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            CKEDITOR.on('instanceReady', function (event) {
                var editor = event.editor;
                var editable = editor.editable();
                editable.$.style.padding = '18px';
                editable.$.style.fontSize = '20px';
            });
        });
        
    </script>

{% endblock %}