{% extends "../components/gTemplates/base.html" %}
{%load static%}


{%block main%}
    <main class="home">
        <section class="home_relevantContent">
            {% include "../components/molecules/highlights.html" with destaques_data=relevantSliderContent %}
            {% include "../components/molecules/eventList.html" with event_list=event_list %}
        </section>
        {% include "../components/molecules/tagList.html" with tags=tags tags_filter=tags_filter%}
        {% include "../components/organisms/galleryPosts.html" with posts=posts admin=admin%}
        {% include "../components/atoms/pagination.html" with selected='1' %}
    </main>
{% endblock %}