{% extends "../components/gTemplates/base.html" %}
{%load static%}


{%block main%}
    <main id="post">
        <div id="post_container">

            
            <div class="post_title">
                <h1>{{ publicacao.titulo }}</h1>
            </div>

            <div class="post_content">
                {% include "../components/atoms/postAuthor.html" with img=publicacao.postador.imagem_perfil nomeAutor=publicacao.postador.nome date=publicacao.data_de_publicacao%}
                <img class="capa" src="{{ publicacao.capa.url }}" alt="capa {{ publicacao.titulo }}">
                {{ publicacao.conteudo|safe }}
            </div>

            <div class="postAutor_container">
                <div class="postAutor_emphasis">
                    {% include "../components/atoms/postAuthor.html" with img=publicacao.postador.imagem_perfil nomeAutor=publicacao.postador.nome date=publicacao.data_de_publicacao%}
                </div>
                <div class="toShare">
                    {% comment %} <a class="toShare_share" href="#">Compartilhar</a> {% endcomment %}
                    <a class="toShare_share_WhatsApp" href="https://api.whatsapp.com/send?text=Sua mensagem aqui">WhatsApp</a>
                    <a class="toShare_share_Twitter" href="https://www.messenger.com/t/username">Twitter (X)</a>
                    <a class="toShare_share_Facebook " href="https://www.facebook.com/sharer/sharer.php?u=https://www.exemplo.com/minhapagina">Facebook</a>
                    <a class="toShare_share_messenger" href="fb-messenger://user-thread/12345?text=Olá,%20como%20você%20está%3F">messenger</a>
                </div>
            </div>

        </div>
    </main>
{% endblock %}


