{%load static%}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
      rel="stylesheet"
      type="text/css"
      href='{% static "css/themes/themeLight.css" %}'
    />
    
    <link
    rel="stylesheet"
    type="text/css"
    href='{% static "css/index.css" %}'
    />
    
    <link rel="icon" href="{% static "media/icons/Logo.svg" %}" type="image/x-icon">

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    
    <title>IFNEWS</title>
</head>
<body>
  {% include "../../components/atoms/libraInterpreter.html" %}
  
  {% include '../../components/molecules/header.html'%}  

  {%block main%}
  {% endblock %}

  {% include '../../components/molecules/footer.html' %}
</body>
</html>