:root {
    --colorBackground: #FBFBFB;

    --colorMainV1: #009F41A8;
    --colorMainV2: #D0FFE8;
    --colorMainV3: #00BF62;
    --colorMainV4: #0B3C1F;
    --colorMainV5: #010D00;
    --colorMainV6: #EEF8F3;

    --colorFontV1: white;
    --colorFontV2: #083119;

    --colorNeutralV1: #949494;
}