:root {
    --colorBackground: #0E0E0E;

    --colorMainV1: #009F41A8;
    --colorMainV2: #D0FFE8;
    --colorMainV3: #00BF62;
    --colorMainV4: #09522E;
    --colorMainV5: #010D00;
    --colorMainV6: #09522E61;

    --colorFontV1: white;
    --colorFontV2: #083119;

    --colorNeutralV1: #949494;
}