{% comment %} 
    ComponentProps {
        None
    }
{% endcomment %}


{% load static %}

<header id="header">
    
    <div id="header_content">
        <a href="{% url "home" %}">
            <img src="{%static 'media/icons/Logo.svg' %}" alt="Logo do site com o nome IFNEWS branco e um fundo verde" id="header_logo">
        </a>

        
        <form action={% url "search" %} method="GET">
            {% include '../atoms/input.html' with type='search' id='input_search' name='input_search' placeholder='Pesquisar...' icon='media/icons/IconSearch.svg' width='100%'%}
        </form>


        <div id="header_content_modes">
            <button class='header_button'>
                <img src="{%static 'media/icons/DarkMode.svg' %}" alt="Botão representando o opção de mudar para o tema de cores dark">
            </button>

            <button class='header_button'>
                <img src="{%static 'media/icons/HighContrast.svg' %}" alt="Botão representando o opção de mudar para o tema de cores alto contraste">
            </button>
        
        </div>
    </div>


</header>