{%load static%}
{% comment %} 
ComponentProps {
    tags: string[]
    alltags: string[]
}
{% endcomment %}

{%block main%}
<div class="modalFilters">
    <div class="modalFilters_content">
        <button class="modalFilters_btnClose" onclick="handleModal('modalFilters', 'close')">
            <img src="{%static 'media/icons/IconClose.svg'%}" />
        </button>
        <div class="modalFilters_alltags">
            <div class="modalFilters_title">
                <img src="{%static 'media/icons/IconGreenStars.svg'%}" />
                <span>TODAS AS TAGS</span>
            </div>
            <form method="get" action="{% url 'search' %}">
                <div class="modalFilters_tagList">
                    <button class="button_submit" type="submit">Aplicar</button>
                    {% for tag in tags %}
                        <input type="checkbox" id="tags_Checkbox_{{ forloop.counter }}" name="tags" value="{{ tag }}" {% if tag|lower in tags_filter|join:','|lower %}checked{% endif %}>
                        <label for="tags_Checkbox_{{ forloop.counter }}" class="taglabel">{{ tag }}</label>
                    {% endfor %}
                    <input class="invisible-element" id="aux" name="q" value="{{ pageSearchKeyWord }}">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}