{%load static%}
{% comment %} 
ComponentProps {
    tags: string[]
    alltags: string[]
}
{% endcomment %}

{%block main%}
<div class="modalFilters">
    <div class="modalFilters_content">
        <button class="modalFilters_btnClose" onclick="handleModal('modalFilters', 'close')">
            <img src="{%static 'media/icons/IconClose.svg'%}" />
        </button>
        <div class="modalFilters_tags">
            <div class="modalFilters_title">
                <img src="{%static 'media/icons/IconGreenStars.svg'%}" />
                <span>TAGS</span>
            </div>
            <div class="modalFilters_search">
                {% include "../atoms/input.html" with placeholder="Pesquisar..." icon="media/icons/iconSearch.svg" width="100%"%}
                {% include "../atoms/buttonTag.html" with content="Aplicar" height="46px" buttonColor="var(--colorMainV4)"%}
            </div>
            <div class="modalFilters_tagList">
                {%for tag in tags%}
                    {% include "../atoms/buttonTag.html" with content=tag height="46px"%}
                {% endfor %}
            </div>
        </div>
        <div class="modalFilters_alltags">
            <div class="modalFilters_title">
                <img src="{%static 'media/icons/IconGreenStars.svg'%}" />
                <span>TODAS AS TAGS</span>
            </div>
            <div class="modalFilters_tagList">
                {%for tag in tags%}
                    {% include "../atoms/buttonTag.html" with content=tag height="46px"%}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}