{%load static%}
{% comment %} 
ComponentProps {
    tags: string[]
}
{% endcomment %}

{% block main %}
<div class="modalPostOptions">
    <div class="modalPostOptions_content">
        <a class="modalPostOptions_btnClose" onclick="handleModal('modalPostOptions', 'close')">
            <img src="{% static 'media/icons/IconClose.svg' %}" />
        </a>
        <div class="modalPostOptions_options">
            <div class="modalPostOptions_title">
                <img src="{% static 'media/icons/IconGreenStars.svg' %}" />
                <span>OPÇÕES DE ENVIO:</span>
            </div>
            
                <label class="titulos_label" for="postTitle">Título:</label>
                <input class="input_titulo" type="text" id="postTitle" name="postTitle" placeholder="Digite o título do post" value="{{ post_title|default:'' }}">

                <label class="titulos_label" for="coverImage">Selecionar imagem de capa:</label>
                <input class="input_image" type="file" id="coverImage" name="coverImage" accept="image/*" {% if cover_image %}value="{{ cover_image }}" {% endif %}>

                <div class="modalPostOptions_tags">
                    <div class="modalPostOptions_title">
                        <img src="{% static 'media/icons/IconGreenStars.svg' %}" />
                        <span>TAGS</span>
                    </div>
                    <div class="modalPostOptions_tagList">
                        {% for tag in tags %}
                            <input type="checkbox" id="tags_Checkbox_{{ tag.id }}" name="tags" value="{{ tag.id }}" {% if tag.id|stringformat:"s" in selected_tags_ids %}checked{% endif %}>
                            <label for="tags_Checkbox_{{ tag.id }}" class="taglabel">{{ tag.nome }}</label>
                        {% endfor %}
                    </div>
                </div>
                
            </div>
        <button class="enviarDados" type="submit">Confirmar envio</button>
    </div>
</div>
{% endblock %}
