{% comment %} 
ComponentProps {
    title: string
    image: string
    author: string
    created_at: string
    admin: boolean
}
{% endcomment %}

{% load static %}

<div class="post">
    <a href='/post_page/{{ post.id }}/'>
        <div>
            <img class="post_postImage" src="{{ post.capa.url }}" alt="Capa da Publicação {{title}}"/>
            <p title="{{title}}">{{title}}</p>
            <div class="post_info">
                <span>{{author}}</span>
                <img src="{% static 'media/icons/IconStar.svg'%}" />
                <span>{{created_at}}</span>
            </div>
        </div>
    </a>
    {%if admin%}
        <div class="post_adminBar">
            <img src="{% static 'media/icons/adminIcons/IconDelete.svg'%}" onclick="confirmarExclusao('{{ post.id }}')"/>

            {% if post.is_evento %}
                <img id="eventIcon{{ post.id }}" src="{% static 'media/icons/adminIcons/IconEventSelect.svg'%}" onclick="adicionarRemoverEvento('{{ post.id }}')"/>
            {% else %}
                <img id="eventIcon{{ post.id }}" src="{% static 'media/icons/adminIcons/IconEvent.svg'%}" onclick="adicionarRemoverEvento('{{ post.id }}')"/>
            {% endif %}

            {% if post.is_destaque %}
                <img id="relevatIcon{{ post.id }}" src="{% static 'media/icons/adminIcons/IconRelevantSelect.svg' %}" onclick="adicionarRemoverDestaque('{{ post.id }}')"/>
            {% else %}
                <img id="relevatIcon{{ post.id }}" src="{% static 'media/icons/adminIcons/IconRelevant.svg' %}" onclick="adicionarRemoverDestaque('{{ post.id }}')"/>
            {% endif %}
            
            <a href='editPost/{{post.id}}/'>
                <img src="{% static 'media/icons/adminIcons/IconEdit.svg'%}" />
            </a>
        </div>
    {%endif%}
</div>