.modalPostOptions {
    display: none;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    
    position: fixed;
    top: 0;
    left: 0;

    z-index: 9999;

    background-color: rgba(00, 00, 00, 0.5);
}

.modalPostOptions .modalPostOptions_btnClose img {
    width: 100%;
}

.modalPostOptions_content {
    width: 1000px;
    background: var(--colorMainV7);
    padding: 32px;
    border-radius: 18px;

    display: flex;
    flex-direction: column;
    gap: 34px;
    position: relative;
}

.modalPostOptions .modalPostOptions_btnClose {
    width: 25px;
    height: 25px;
    border: none;
    background: transparent;
    cursor: pointer;
    
    position: absolute;

    top: 32px;
    right: 32px;
}

.modalPostOptions .modalPostOptions_title {
    display: flex;
    align-items: center;
    gap: 6px;

    color: var(--colorMainV4);   
    font-family: PoppinsBold;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 14px;
}

.modalPostOptions .modalPostOptions_title .title {
    width: 34px;
    height: 34px;
}

.modalPostOptions .modalPostOptions_search {
    display: flex;
    gap: 16px;
}

.modalPostOptions .modalPostOptions_tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    overflow-y: auto;
    margin-top: 21px;
}

.modalPostOptions .modalPostOptions_tagList.all {
    margin-top: 0;
}

.modalPostOptions .modalPostOptions_alltags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    overflow-y: auto;
    display: none;
}

.modalPostOptions .titulos_label{
    display: block;
    font-family: PoppinsBold;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: var(--colorFontV2);
}

.modalPostOptions .input_titulo{
    padding: 12px;
    height: 50px;
    width: 60%;
    border-radius: 50px;
    border: 1px solid var(--colorMainV4);
    margin-bottom: 15px;
}

.modalPostOptions .input_image{
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--colorFontV2);
    border: 1px solid var(--colorMainV4);
    border-radius: 5px;
    margin-bottom: 15px;
}

.modalPostOptions_tagList input[type="checkbox"] {
    display: none;
}

.modalPostOptions .taglabel{
    cursor: pointer;
    color: var(--colorFontV1);
    background-color: var(--colorMainV1);
    font-family: PoppinsRegular;
    font-size: 22px;
    font-weight: 400;
    padding: 10px 15px;
    border-radius: 42px;
    transition: 200ms;
}

.modalPostOptions .taglabel:hover {
    opacity: 0.7;
    transition: 0;
}


.modalPostOptions input[type="checkbox"]:checked + label {
    background-color: var(--colorMainV4);
}

.modalPostOptions .button_submit {
    cursor: pointer;
    width: 152px;
    background-color: var(--colorMainV7);
    border: 1px solid var(--colorNeutralV1);
    color: var(--colorNeutralV1);
    border-radius: 42px;
    font-size: 22px;
    transition: 200ms;
    font-family: PoppinsRegular;
}

.modalPostOptions .button_submit:hover {
    border-color: var(--colorMainV4);
    color: var(--colorMainV4);
}

.modalPostOptions .enviarDados{
    cursor: pointer;
    width: 252px;
    padding: 10px;
    background-color: var(--colorMainV7);
    border: 1px solid var(--colorNeutralV1);
    color: var(--colorNeutralV1);
    border-radius: 42px;
    font-size: 22px;
    transition: 200ms;
    font-family: PoppinsRegular;
    margin-top: 20px;
    background-color:var(--colorMainV4);
    color: var(--colorFontV1);
}

.modalPostOptions .enviarDados:hover {
    background-color: var(--colorMainV3);
}