.modalFilters {
    display: none;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    
    position: fixed;
    top: 0;
    left: 0;

    z-index: 9999;

    background-color: rgba(00, 00, 00, 0.5);
}

.modalFilters .modalFilters_btnClose img {
    width: 100%;
}

.modalFilters_content {
    width: 1000px;
    background: var(--colorMainV7);
    padding: 32px;
    border-radius: 18px;

    display: flex;
    flex-direction: column;
    gap: 34px;
    position: relative;
}

.modalFilters .modalFilters_btnClose {
    width: 25px;
    height: 25px;
    border: none;
    background: transparent;
    cursor: pointer;
    
    position: absolute;

    top: 32px;
    right: 32px;
}

.modalFilters .modalFilters_title {
    display: flex;
    align-items: center;
    gap: 6px;

    color: var(--colorMainV4);   
    font-family: PoppinsBold;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 14px;
}

.modalFilters .modalFilters_title .title {
    width: 34px;
    height: 34px;
}

.modalFilters .modalFilters_search {
    display: flex;
    gap: 16px;
}

.modalFilters .modalFilters_tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 21px;
}

.modalFilters_tagList input[type="checkbox"] {
    display: none;
}

.modalFilters_tagList .taglabel{
    cursor: pointer;
    color: var(--colorFontV1);
    background-color: var(--colorMainV1);
    font-family: PoppinsRegular;
    font-size: 22px;
    font-weight: 400;
    padding: 10px 15px;
    border-radius: 42px;
    transition: 200ms;
}
.modalFilters_tagList .taglabel:hover {
    opacity: 0.7;
    transition: 0;
}

.modalFilters_tagList input[type="checkbox"]:checked + label {
    background-color: var(--colorMainV4);
}

.modalFilters_tagList .button_submit {
    cursor: pointer;
    width: 152px;
    background-color: var(--colorMainV7);
    border: 1px solid var(--colorNeutralV1);
    color: var(--colorNeutralV1);
    border-radius: 42px;
    font-size: 22px;
    transition: 200ms;
    font-family: PoppinsRegular;
}
.modalFilters_tagList .button_submit:hover {
    border-color: var(--colorMainV4);
    color: var(--colorMainV4);
}