.postRow {
    width: 100%;
    max-width: 1500px;
    height: 302px;
    position: relative;

    display: flex;
    gap: 20px;
}

.postRow .postRow_content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    text-align: justify;
}

.postRow .postRow_postImage {
    height: 302px;
    object-fit: cover;
    border-radius: 18px;
}

.postRow p {
    font-family: PoppinsBold;
    font-size: 20px;
    font-weight: 600;
    color: var(--colorMainV4);
}

.postRow .postRow_info {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 17px;
    font-family: PoppinsLight;
    font-weight: 300;
}