.postRow {
    max-width: 1400px;
    width: 1400px;
    min-width: max-content;
    height: 250px;
    position: relative;

    display: flex;
    gap: 20px;
    transition: transform 300ms;
}

.postRow:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.postRow .postRow_content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    text-align: justify;
}

.postRow .postRow_postImage {
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
    width: 450px;
}

.postRow p {
    font-family: PoppinsBold;
    font-size: 20px;
    font-weight: 600;
    color: var(--colorMainV4);
}

.postRow .postRow_info {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 17px;
    font-family: PoppinsLight;
    font-weight: 300;
    color: var(--colorMainV4);
}

.postRow .postRow_content .postRow_description{
    color: var(--colorMainV4);
}