.tagList {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.tagList .tagList_title {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 6px;
}

.tagList .tagList_title span {
    font-weight: 800;
    font-size: 26px;
    color: var(--colorMainV4);
    font-family: PoppinsBold;
}

.tagList .tagList_title img {
    width: 34px;
    aspect-ratio: 1/1;
}

.tagList .tagList_list {
    display: flex;
    gap: 19px;
    margin-top: 14px;
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
}

.tagList .tagList_list::-webkit-scrollbar {
    display: none;
}

/* Estilo para esconder a checkbox */
.tagList_list input[type="checkbox"] {
    display: none;
}


.tagList_list .taglabel{
    cursor: pointer;
    color: var(--colorFontV1);
    background-color: var(--colorMainV1);
    font-family: PoppinsRegular;
    font-size: 22px;
    font-weight: 400;
    padding: 10px 15px;
    border-radius: 42px;
    transition: 200ms;
}
.tagList_list .taglabel:hover {
    opacity: 0.7;
    transition: 0;
}

.tagList_list input[type="checkbox"]:checked + label {
    background-color: var(--colorMainV4);
}

.tagList .button_submit {
    cursor: pointer;
    width: 152px;
    background-color: var(--colorMainV7);
    border: 1px solid var(--colorNeutralV1);
    color: var(--colorNeutralV1);
    border-radius: 42px;
    font-size: 22px;
    transition: 200ms;
    font-family: PoppinsRegular;
}
.tagList .button_submit:hover {
    border-color: var(--colorMainV4);
    color: var(--colorMainV4);
}
