.newPost {
    background-color: var(--colorBackgroundV2);
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container_editor{
    max-width: 1683px;
}

.django-ckeditor-widget{
    min-width: 100vh;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#cke_id_conteudo{
    margin-top: 90px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#cke_1_top {
    background-color: var(--colorMainV7);
    width: 100vh;
    height: 57px;
    border-radius: 8px;
    
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
    padding: 10px 0;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#cke_1_toolbox a:hover {
    background-color: var(--colorMainV3);
    border-radius: 8px;
    
}


#container_editor .button-home {
    position: fixed;
    top: 6%;
    left: 15%;
    transform: translate(-50%, -50%);
    background-color: var(--colorMainV7);
    padding: 8px 10px;
    border-radius: 8px;
    transition: background-color 1s;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#container_editor .button-home:hover {
    background-color: var(--colorMainV3);
}

#container_editor .button-home img{
    width: 26px;
    height: 26px;
    filter: invert(0%) sepia(96%) saturate(0%) hue-rotate(244deg) brightness(0%) contrast(50%);
}

#container_editor .button-send{
    cursor: pointer;
    border: none;
    position: fixed;
    color: black;
    font-weight: bold;
    top: 6%;
    right: 12%;
    transform: translate(-50%, -50%);
    background-color: var(--colorMainV7);
    padding: 12px 14px;
    border-radius: 8px;
    transition: background-color 1s;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#container_editor .button-send:hover{
    background-color: var(--colorMainV3);
}

#container_editor .button-send::after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 17px;
    background-image: url('../../media/icons/IconNewPostSend.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10px;
    vertical-align: middle;
    filter: invert(0%) sepia(96%) saturate(0%) hue-rotate(244deg) brightness(0%) contrast(50%);
}

.newPost_config {
    cursor: pointer;
    border: none;
    position: fixed;
    color: black;
    font-weight: bold;
    top: 6%;
    right: 8%;
    transform: translate(-50%, -50%);
    background-color: var(--colorMainV7);
    padding: 7px 14px;
    border-radius: 8px;
    transition: background-color 1s;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.newPost_config img {
    filter: invert(0%) sepia(96%) saturate(0%) hue-rotate(244deg) brightness(0%) contrast(50%);
}

.newPost_config:hover {
    cursor: pointer;
    background-color: var(--colorMainV3);
}