#search {
    background-color: red;
    margin: 10px 0;
}

#search #search_container {
    background-color: var(--colorBackground);
    width: 1500px;
    height: 100vh;
    margin: 0 auto;
}

#search #search_container #search_filters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 62px;
}

#search #search_container #search_filters .filters_button{
    border: 1px solid var(--colorNeutralV1);
    color: var(--colorMainV4);
    padding: 18px;
}